@import "tailwindcss";

@font-face {
  font-family: "Cloudy";
  src: url("/cloudy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body,
#root {
  height: 100%;
  margin: unset;
}

#root {
  display: flex;
  justify-content: center;
  background-color: darkgray;
}

#canvas-container {
  background-color: skyblue;
  /* border: 5px solid red; */
  aspect-ratio: 9 / 16;
  /* object-fit: contain; */
}

.font-cloudy {
  font-family: "Cloudy", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  /* pixelated */
  image-rendering: pixelated;
}
